
@{
    ViewBag.Title = "Index";
}

<h2>Downloads</h2>

@foreach (var release in ViewBag.Releases)
{
    <hr />
    <h4><a href="@release.Url">@release.Title - @release.Version</a></h4>
    <h5>Published <abbr class="timeago" title="@release.When.ToString("s")Z"></abbr></h5>

    var files = Website.Services.FileService.FindFilesForRelease(release.Version);

    if (files.Count > 0)
    {
        <div class="row">
            <div class="col-xs-6 col-xs-push-3">
                <table class="table downloadtable">
                    <thead>
                        <tr>
                            <th>File</th>
                            <th>Downloads</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var file in Website.Services.FileService.FindFilesForRelease(release.Version))
                        {
                            <tr>
                                <td><a href="~/Download/@release.Version/@file">@file</a></td>
                                <td>@Website.Services.DatabaseService.GetDownloadCount(release.Version, file)</td>
                            </tr>
                        }
                        <tr>
                            <td><a href="https://github.com/zone117x/Jackett/archive/@(release.Version).zip">Source code</a></td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }

    <div>
        @Html.Raw(CommonMark.CommonMarkConverter.Convert(release.Description))
    </div>
}